html, body{
  min-width: 824px;
  height: 100%;
  font-family: Lato, "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei", sans-serif !important;
  background-color: rgba(245, 245, 213);
}

/* 居中样式 */
.center {
  margin: 0 auto;
}

div#root {
  width: 1200px;
}

/* header部分 */
header {
  padding-top: 40px;
  border-bottom: 1px solid rgba(211, 211, 211);
}

header h1 {
  font-size: 24px;
  color: #556677;
  padding-bottom: 10px;
}

/* main主体部分 */
main {
  position: relative;
}

main .container {
  width: 70%;
}

/* 设置一级标题样式 */
.container h1 {
  font-size: 32px;
  border-bottom: 1px solid rgba(211, 211, 211);
}

.container .details {
  padding-left: 16px;
}

/* 设置二级标题样式 */
.container .details h2 {
  font-size: 22px;
  border-bottom: 1px solid rgba(211, 211, 211);
  width: 400px;
  padding-top: 20px;
}

.container .details p {
  text-indent: 2em;
  line-height: 2.4em;
}

/* entry目录部分 */
main .entry {
  border: 1px solid rgba(211, 211, 211);
  border-radius: 6%;
  padding-left: 10px;
  padding-right: 10px;
  position: fixed;
  left: 72%;
  top: 100px;
}

.entry p {
  padding-top: 16px;
  width: 220px;
  font-size: 26px;
  border-bottom: 1px solid rgba(211, 211, 211);
}

.entry ul li {
  padding: 12px;
}

/* 覆盖掉a标签默认样式 */
.entry ul li a {
  text-decoration: none;
  color: inherit;
}

.entry ul li a:hover {
  color: rgba(244, 144, 55);
}

/* Foot部分 */
footer {
  border-top: 1px solid rgba(211, 211, 211);
  width: 1200px;
}
footer ul li {
  float: right;
  padding: 16px;
}
footer.center ul li a {
  text-decoration: none;
  color: inherit;
}
footer ul li:hover {
  color: rgba(244, 144, 55);
}